:root {
	--font-primary:"gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-display:"gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-headline:"ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
}

:root {
	--brand:#5865f2;
	--brand-dark:#4957f1;
	--grey-1:#99aab5;
	--grey-3:#737f8d;
	--grey-6:#4f545c;
	--guilds-grey:#1e2124;
	--status-grey:#604f56;
	--status-green:#3ba53b
}

body {
	background-color:initial;
	font-family:gg sans,sans-serif;
	margin:0
}

/* div[class*=Container] { */
.Voice_voiceContainer__adk9M {
	color:#fff;
	font-family:gg sans;
	font-size:16px;
	font-weight:600;
	line-height:19px
}

/* ul[class*=States] { */
.Voice_voiceStates__a121W {
	list-style-type:none;
	padding-left:15px
}

/* li[class*=State] { */
.Voice_voiceState__OCoZh {
	height:50px;
	margin-bottom:8px
}

/* img[class*=avatar] { */
.Voice_avatar__htiqH {
	border:3px solid transparent;
	border-radius:50%;
	float:left;
	height:50px;
	margin-right:8px;
	width:50px
}

/* img[class*=Speaking] { */
.Voice_avatarSpeaking__lE\+4m {
	border-color:var(--status-green)
}

/* div[class*=user] { */
.Voice_user__8fGwX {
	padding-top:18px
}

/* span[class*=name] { */
.Voice_name__TALd9 {
	background-color:var(--guilds-grey);
	border-radius:3px;
	padding:4px 6px
}

.Voice_smallAvatar__tPOas {
	height:40px
}

.Voice_smallAvatarAvatar__gX9I5 {
	height:40px;
	width:40px
}

.Voice_smallAvatarUser__pIEbt {
	padding-top:12px
}
