@font-face {
	font-family:ABC Ginto Nord;
	font-style:normal;
	font-weight:800;
	src:url(/static/media/abcgintonord-800-extrabold.7e50d2a0232faae50972.woff2) format("woff2")
}

@font-face {
	font-family:ABC Ginto Nord;
	font-style:italic;
	font-weight:800;
	src:url(/static/media/abcgintonord-800-extrabolditalic.654d24e4330ec77788b1.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:normal;
	font-weight:400;
	src:url(/static/media/ggsans-400-normal.d763a6f2d3a5b153db70.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:italic;
	font-weight:400;
	src:url(/static/media/ggsans-400-normalitalic.c8aecec4ab5b033116a5.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:normal;
	font-weight:500;
	src:url(/static/media/ggsans-500-medium.20f29f59c76003f6e36c.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:italic;
	font-weight:500;
	src:url(/static/media/ggsans-500-mediumitalic.86fae6e1b9269b912765.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:normal;
	font-weight:600;
	src:url(/static/media/ggsans-600-semibold.95a4193e6ffbd7f70d3a.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:italic;
	font-weight:600;
	src:url(/static/media/ggsans-600-semibolditalic.45c2708aa3cb91e05766.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:normal;
	font-weight:700;
	src:url(/static/media/ggsans-700-bold.f0e5bb014426bdc8a28f.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:italic;
	font-weight:700;
	src:url(/static/media/ggsans-700-bolditalic.54407c140352fe2ea81b.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:normal;
	font-weight:800;
	src:url(/static/media/ggsans-800-extrabold.fff32459ca3ce4da83bd.woff2) format("woff2")
}

@font-face {
	font-family:gg sans;
	font-style:italic;
	font-weight:800;
	src:url(/static/media/ggsans-800-extrabolditalic.568fad12bbc4b449363d.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:normal;
	font-weight:400;
	src:url(/static/media/notosans-400-normal.6daadfe6e5f14c9213b7.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:italic;
	font-weight:400;
	src:url(/static/media/notosans-400-normalitalic.452d7be36bf4b23241bd.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:normal;
	font-weight:500;
	src:url(/static/media/notosans-500-medium.b8cfca9c9b10ffcc6e53.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:italic;
	font-weight:500;
	src:url(/static/media/notosans-500-mediumitalic.b84ef5d4aa22d54ea96e.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:normal;
	font-weight:600;
	src:url(/static/media/notosans-600-semibold.914a97ac83e173c66dd7.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:italic;
	font-weight:600;
	src:url(/static/media/notosans-600-semibolditalic.e5895f33d25eae65caf5.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:normal;
	font-weight:700;
	src:url(/static/media/notosans-700-bold.48a594e29497835802fe.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:italic;
	font-weight:700;
	src:url(/static/media/notosans-700-bolditalic.f5b8aa3411dfc24ff2e6.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:normal;
	font-weight:800;
	src:url(/static/media/notosans-800-extrabold.475016f7a9e3e75b3670.woff2) format("woff2")
}

@font-face {
	font-family:Noto Sans;
	font-style:italic;
	font-weight:800;
	src:url(/static/media/notosans-800-extrabolditalic.1622f3625fb3a6eac2f2.woff2) format("woff2")
}

@font-face {
	font-family:Source Code Pro;
	font-style:normal;
	font-weight:400;
	src:url(/static/media/sourcecodepro-400-normal.a504f7abaaf43e43ec6c.woff2) format("woff2")
}

@font-face {
	font-family:Source Code Pro;
	font-style:normal;
	font-weight:600;
	src:url(/static/media/sourcecodepro-600-semibold.70e9071b9d4ff1d9dd8d.woff2) format("woff2")
}

:root {
	--font-primary:"gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-display:"gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-headline:"ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
}

:lang(bg),:lang(el),:lang(ru),:lang(uk) {
	--font-primary:"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-display:"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-headline:"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
}

:lang(ko) {
	--font-primary:"gg sans","Apple SD Gothic Neo",NanumBarunGothic,"맑은 고딕","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-display:"gg sans","Apple SD Gothic Neo",NanumBarunGothic,"맑은 고딕","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-headline:"ABC Ginto Nord","Apple SD Gothic Neo",NanumBarunGothic,"맑은 고딕","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
}

:lang(ja) {
	--font-primary:"gg sans","Hiragino Sans","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,Osaka,"MS PGothic","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-display:"gg sans","Hiragino Sans","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,Osaka,"MS PGothic","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-headline:"ABC Ginto Nord","Hiragino Sans","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,Osaka,"MS PGothic","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
}

:lang(zh-CN) {
	--font-primary:"gg sans","Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-display:"gg sans","Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-headline:"ABC Ginto Nord","Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
}

:lang(zh-TW) {
	--font-primary:"gg sans","Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-display:"gg sans","Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-headline:"ABC Ginto Nord","Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
}

:root {
	--brand:#5865f2;
	--brand-dark:#4957f1;
	--grey-1:#99aab5;
	--grey-3:#737f8d;
	--grey-6:#4f545c;
	--guilds-grey:#1e2124;
	--status-grey:#604f56;
	--status-green:#3ba53b
}

body {
	background-color:initial;
	font-family:gg sans,sans-serif;
	margin:0
}

.Voice_voiceContainer__adk9M {
	color:#fff;
	font-family:gg sans;
	font-size:16px;
	font-weight:600;
	line-height:19px
}

.Voice_voiceStates__a121W {
	list-style-type:none;
	padding-left:15px
}

.Voice_voiceState__OCoZh {
	height:50px;
	margin-bottom:8px
}

.Voice_avatar__htiqH {
	border:3px solid transparent;
	border-radius:50%;
	float:left;
	height:50px;
	margin-right:8px;
	width:50px
}

.Voice_avatarSpeaking__lE\+4m {
	border-color:var(--status-green)
}

.Voice_user__8fGwX {
	padding-top:18px
}

.Voice_name__TALd9 {
	background-color:var(--guilds-grey);
	border-radius:3px;
	padding:4px 6px
}

.Voice_smallAvatar__tPOas {
	height:40px
}

.Voice_smallAvatarAvatar__gX9I5 {
	height:40px;
	width:40px
}

.Voice_smallAvatarUser__pIEbt {
	padding-top:12px
}

.Chat_chatContainer__N0eOL {
	border-radius:3px;
	font-family:gg sans;
	height:214px;
	width:577px
}

.Chat_channelName__O6KEu {
	border-radius:3px 3px 0 0;
	font-size:20px;
	font-weight:600;
	line-height:24px;
	padding:6px 12px
}

.Chat_poundSign__kpYVV {
	font-weight:500;
	opacity:.5;
	padding-right:5px
}

.Chat_messages__afjga {
	border-radius:0 0 3px 3px;
	height:162px;
	list-style-type:none;
	margin:0;
	overflow:hidden;
	padding:8px 20px
}

.Chat_message__P69ez {
	max-height:100px;
	overflow:hidden;
	padding-bottom:2px;
	transition:opacity 1s ease-in-out,max-height 0s 1s,padding-bottom 0s 1s
}

.Chat_messageHidden__MZTo\+ {
	max-height:0;
	opacity:0;
	padding-bottom:0
}

.Chat_timestamp__nyBmU {
	font-weight:500;
	line-height:16px;
	opacity:.5;
	padding-right:5px;
	text-transform:uppercase
}

.Chat_messageText__k79m4,.Chat_username__5fTg6 {
	font-weight:600;
	line-height:19px;
	padding-right:5px
}

.Chat_messageText__k79m4 {
	overflow:hidden;
	word-break:break-word
}

.Chat_emoji__IJKMS {
	vertical-align:middle
}

.Status_statusContainer__tUiFo {
	border-radius:3px;
	font-size:14px;
	height:64px;
	width:312px
}

.Status_status__Vj7gE {
	background-position:267px 17px;
	background-repeat:no-repeat;
	background-size:32px 30px;
	font-family:gg sans;
	padding:14px
}

.Status_serverIcon__ZHM\+l {
	float:left;
	padding-right:10px
}

.Status_serverIcon__ZHM\+l img {
	border-radius:50%;
	height:35px
}

.Status_serverInfo__IuJnm {
	font-weight:700;
	line-height:16px;
	max-width:200px;
	overflow:hidden
}

.Status_name__rPo2B {
	display:inline-block;
	margin-bottom:-3px;
	max-width:125px;
	overflow:hidden;
	padding-right:4px;
	text-overflow:ellipsis;
	white-space:nowrap
}

.Status_onlineCount__nOjPO {
	font-size:12px;
	line-height:15px;
	opacity:.3;
	text-transform:uppercase;
	white-space:nowrap
}

.Status_inviteLink__0Acar {
	font-size:16px;
	font-weight:600;
	line-height:19px
}

.Config_wrapper__y8mRP {
	font-family:gg sans;
	height:100vh;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100vw
}

.Config_wrapper__y8mRP button:focus,.Config_wrapper__y8mRP input:focus {
	outline:0
}

.Config_wrapper__y8mRP a {
	color:var(--brand);
	text-decoration:none
}

.Config_wrapper__y8mRP a:hover {
	color:var(--brand-dark)
}

.Config_wrapper__y8mRP input[type=text] {
	border:2px #fff;
	border-radius:3px;
	box-shadow:0 3px 3px 0 rgba(0,0,0,.05);
	color:rgba(79,84,92,.6);
	font-family:gg sans;
	font-size:16px;
	font-weight:700;
	line-height:16px;
	padding:14px 16px
}

.Config_wrapper__y8mRP .Config_swatch__znhS8 {
	background-color:#fff;
	border:2px solid #fff;
	border-radius:3px;
	box-shadow:0 3px 3px 0 rgba(0,0,0,.05);
	cursor:pointer;
	height:48px;
	transition:box-shadow .1s ease-in-out;
	width:142px
}

.Config_wrapper__y8mRP .Config_swatch__znhS8:hover {
	box-shadow:0 3px 6px 0 rgba(0,0,0,.15)
}

.Config_wrapper__y8mRP .Config_swatch__znhS8:active {
	box-shadow:0 2px 1px 0 rgba(0,0,0,.05);
	transition:none
}

.Config_wrapper__y8mRP .Config_swatch__znhS8 .Config_hexColor__dI32s {
	color:rgba(79,84,92,.6);
	display:inline;
	font-size:16px;
	font-weight:700;
	line-height:50px;
	padding:15px 0 15px 15px
}

.Config_wrapper__y8mRP .Config_swatch__znhS8 .Config_color__vrEwS {
	border-radius:3px;
	display:inline-block;
	float:right;
	height:40px;
	margin-right:4px;
	margin-top:4px;
	width:40px
}

.Config_wrapper__y8mRP .Config_popover__mtb8\+ {
	margin-left:-74px;
	margin-top:10px;
	padding-bottom:10px;
	position:absolute;
	z-index:99999
}

.Config_wrapper__y8mRP .Config_popover__mtb8\+ .Config_cover__LyO8G {
	bottom:0;
	left:0;
	position:fixed;
	right:0;
	top:0
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 {
	background:url(/static/media/ptrn_consoles_light.fa459d5d108881f63b36.png);
	background-attachment:fixed;
	background-size:200px 202px;
	bottom:0;
	display:flex;
	flex-direction:column;
	left:0;
	overflow:auto;
	position:absolute;
	right:0;
	top:0;
	z-index:1
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_landingInner__gXttS {
	align-items:center;
	display:flex;
	flex:1 1;
	flex-direction:column;
	justify-content:center;
	min-height:600px
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5:after {
	background:#000;
	bottom:0;
	content:"";
	left:0;
	opacity:0;
	position:fixed;
	right:0;
	top:0;
	transition:opacity .8s cubic-bezier(.77,0,.175,1) 0s,visibility .8s cubic-bezier(.77,0,.175,1) 0s;
	visibility:hidden
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5.Config_formOpen__01AB9:after {
	background:#000;
	bottom:0;
	content:"";
	left:0;
	opacity:.4;
	position:fixed;
	right:0;
	top:0;
	visibility:visible
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_logo__l2kNe {
	color:var(--grey-6);
	font-size:26px;
	font-weight:600;
	height:150px;
	line-height:34px;
	margin:auto;
	text-align:center;
	text-transform:uppercase;
	width:600px
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_logo__l2kNe img {
	height:46px;
	width:auto
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_previews__1tRkl {
	display:flex;
	justify-content:center;
	position:relative;
	text-align:center
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_previews__1tRkl .Config_preview__oy8Bn {
	background:#fff;
	border-radius:5px;
	box-shadow:0 0 2px 0 rgba(0,0,0,.3);
	height:280px;
	margin-left:10px;
	margin-right:10px;
	width:280px
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_previews__1tRkl .Config_preview__oy8Bn.Config_status__h6kH5:after {
	background:url(/static/media/preview_status.3ea3f3c872bfff6d4c73.svg);
	content:"";
	height:84px;
	margin-left:-343px;
	margin-top:40px;
	position:absolute;
	width:330px
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_previews__1tRkl .Config_preview__oy8Bn.Config_chat__sxbqJ:after {
	background:url(/static/media/preview_chat.249976e8df948cece8c2.svg);
	content:"";
	height:200px;
	margin-left:-288px;
	margin-top:40px;
	position:absolute;
	width:310px
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_previews__1tRkl .Config_preview__oy8Bn.Config_voice__qvbcE:after {
	background:url(/static/media/preview_voice.fb41e9bcf0ace9097e57.svg);
	content:"";
	height:123px;
	margin-left:-268px;
	margin-top:40px;
	position:absolute;
	width:168px
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_previews__1tRkl .Config_preview__oy8Bn img {
	border-radius:5px;
	width:100%
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_installButton__Hug7z {
	margin-top:50px;
	text-align:center
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_installButton__Hug7z button {
	background-color:var(--brand);
	border:none;
	border-radius:3px;
	color:#fff;
	font-family:gg sans;
	font-size:14px;
	font-weight:600;
	height:44px;
	line-height:20px;
	margin:0 5px;
	padding:0 45px
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_installButton__Hug7z button:hover {
	background-color:var(--brand-dark);
	cursor:pointer
}

.Config_wrapper__y8mRP .Config_landing__Y1hp5 .Config_footer__HABSN {
	color:var(--grey-3);
	flex:0 0;
	font-size:16px;
	font-weight:600;
	height:40px;
	line-height:20px;
	padding-bottom:10px;
	text-align:center
}

.Config_wrapper__y8mRP .Config_install__vja5r {
	background:#fff;
	box-shadow:0 0 30px 0 rgba(0,0,0,.5);
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	-webkit-transform:translate3d(0,110%,0);
	transform:translate3d(0,110%,0);
	transition:visibility .8s cubic-bezier(.77,0,.175,1) 0s,-webkit-transform .8s cubic-bezier(.77,0,.175,1) 0s;
	transition:transform .8s cubic-bezier(.77,0,.175,1) 0s,visibility .8s cubic-bezier(.77,0,.175,1) 0s;
	transition:transform .8s cubic-bezier(.77,0,.175,1) 0s,visibility .8s cubic-bezier(.77,0,.175,1) 0s,-webkit-transform .8s cubic-bezier(.77,0,.175,1) 0s;
	visibility:hidden;
	width:100%;
	z-index:2
}

.Config_wrapper__y8mRP .Config_install__vja5r.Config_isOpen__Qxr2x {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	visibility:visible
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_close__Hhqpn {
	cursor:pointer;
	position:absolute;
	right:36px;
	top:36px;
	-webkit-transform:translate3d(200%,0,0);
	transform:translate3d(200%,0,0);
	transition:-webkit-transform .8s cubic-bezier(.77,0,.175,1) .2s;
	transition:transform .8s cubic-bezier(.77,0,.175,1) .2s;
	transition:transform .8s cubic-bezier(.77,0,.175,1) .2s,-webkit-transform .8s cubic-bezier(.77,0,.175,1) .2s;
	z-index:5
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_close__Hhqpn.Config_isOpen__Qxr2x {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	visibility:visible
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 {
	background:#fff;
	height:190px;
	position:absolute;
	top:0;
	width:100%;
	z-index:3
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 .Config_installLogo__IYu04 {
	background-repeat:no-repeat;
	background-size:contain;
	height:85px;
	margin:35px auto;
	width:160px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 .Config_installLogo__IYu04.Config_obs__XiGMx {
	background-image:url(/static/media/logo_obs.31cf174bf8902cb369fa.svg)
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 .Config_installLogo__IYu04.Config_xsplit__iX2xP {
	background-image:url(/static/media/logo_xsplit.19b57fcb2e3777b85558.svg)
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 .Config_widgetSelector__q5nGo {
	align-items:flex-end;
	display:flex;
	flex-direction:row;
	height:35px;
	margin:0 auto;
	width:560px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 .Config_widgetSelector__q5nGo button {
	background:none;
	border:none;
	color:var(--grey-6);
	flex:1 1;
	font-family:gg sans;
	font-size:16px;
	font-weight:700;
	line-height:20px;
	margin:0 25px;
	padding:0;
	text-transform:uppercase
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 .Config_widgetSelector__q5nGo button:hover {
	cursor:pointer
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 .Config_widgetSelector__q5nGo button:after {
	background-color:#fff;
	content:" ";
	float:left;
	height:4px;
	margin-top:12px;
	width:100%
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_header__Vbc08 .Config_widgetSelector__q5nGo button.Config_selected__Bygnv:after {
	background-color:var(--brand);
	content:" ";
	float:left;
	height:4px;
	margin-top:12px;
	width:100%
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN {
	background-color:#f2f4f7;
	bottom:0;
	overflow-y:auto;
	position:absolute;
	top:190px;
	width:100%;
	z-index:2
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT {
	margin:0 auto;
	width:922px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_connectNotice__ljksd {
	background-color:rgba(240,71,71,.1);
	border:2px solid #f04747;
	border-radius:5px;
	color:var(--grey-6);
	font-size:16px;
	font-weight:500;
	letter-spacing:.3px;
	line-height:20px;
	margin-bottom:1rem;
	margin-top:15px;
	padding:15px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_connectNotice__ljksd .Config_title__-cusV {
	color:#f04747;
	font-size:18px;
	font-weight:700;
	letter-spacing:-.3px;
	line-height:23px;
	text-transform:uppercase
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_connectNotice__ljksd a {
	color:var(--grey-6);
	font-weight:600;
	padding-left:3px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_connectNotice__ljksd a:hover {
	text-decoration:underline
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_form__Zi9gT {
	display:inline-block;
	padding-top:16px;
	width:522px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_form__Zi9gT.Config_connectNoticeFade__HfwBd {
	opacity:.3
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_form__Zi9gT hr {
	background-color:var(--grey-3);
	opacity:.3;
	width:522px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_form__Zi9gT .Config_categoryTitle__VZqT1 {
	color:#f39c12;
	font-size:14px;
	font-weight:700;
	line-height:20px;
	margin:0 auto;
	padding-top:48px;
	text-transform:uppercase;
	width:522px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_form__Zi9gT .Config_formGroup__iuXLF {
	align-items:center;
	display:flex;
	flex-direction:row;
	height:76px;
	margin:0 auto;
	width:100%
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_form__Zi9gT .Config_formGroup__iuXLF label {
	color:var(--grey-6);
	flex:1 1;
	font-size:18px;
	font-weight:600;
	line-height:21px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_form__Zi9gT .Config_formGroup__iuXLF button {
	background-color:var(--brand);
	border:none;
	border-radius:3px;
	color:#fff;
	font-family:gg sans;
	font-size:14px;
	font-weight:600;
	height:44px;
	line-height:20px;
	margin:0 20px;
	padding:0 45px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_content__5kfyN .Config_centeredContent__DrUUT .Config_form__Zi9gT .Config_formGroup__iuXLF button:hover {
	background-color:var(--brand-dark);
	cursor:pointer
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_configLink__NPhvj {
	color:var(--grey-3);
	font-size:16px;
	font-weight:500;
	left:50%;
	line-height:20px;
	margin-left:118px;
	padding-top:30px;
	position:fixed;
	text-align:left;
	top:200px;
	width:340px;
	z-index:5
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_configLink__NPhvj.Config_connectNoticeFade__HfwBd {
	margin-top:100px;
	opacity:.3
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_configLink__NPhvj input {
	margin-bottom:10px;
	margin-top:26px;
	width:312px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_configLink__NPhvj .Config_livePreview__M9gLN {
	background-color:#fff;
	background:url(/static/media/preview.c07aa81e1a6ff9e685b2.png);
	border:2px solid #fff;
	border-radius:3px;
	height:300px;
	margin-bottom:26px;
	overflow:hidden;
	text-align:center;
	width:340px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_configLink__NPhvj .Config_livePreview__M9gLN iframe {
	border:none;
	margin-left:15px;
	margin-top:15px
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_configLink__NPhvj .Config_widthHeight__KnaC6 {
	color:var(--grey-3);
	font-size:18px;
	line-height:20px;
	margin-bottom:26px;
	text-align:center
}

.Config_wrapper__y8mRP .Config_install__vja5r .Config_configLink__NPhvj .Config_helpLink__x1UyG {
	font-size:12px;
	line-height:20px;
	margin-top:5px;
	padding-bottom:10px;
	text-align:center
}

.Config_slider__582se {
	background:var(--grey-1);
	border-radius:40px;
	box-shadow:inset 0 3px 3px 0 rgba(0,0,0,.05);
	height:12px;
	width:261px
}

.Config_slider__582se .Config_handle__usrHH {
	background-color:#fff;
	border:2px solid #fff;
	border-radius:3px;
	box-shadow:0 3px 3px 0 rgba(0,0,0,.05);
	color:rgba(79,84,92,.6);
	cursor:pointer;
	font-size:16px;
	font-weight:700;
	line-height:19px;
	margin-top:-12px;
	max-height:30px;
	padding:6px;
	text-align:center;
	transition:box-shadow .1s ease-in-out;
	width:65px
}

.Config_slider__582se .Config_handle__usrHH:hover {
	box-shadow:0 3px 6px 0 rgba(0,0,0,.15)
}

.Config_slider__582se .Config_handle__usrHH:active {
	box-shadow:0 2px 1px 0 rgba(0,0,0,.05);
	transition:none
}

.Config_select__UzLfm {
	box-shadow:0 3px 3px 0 rgba(0,0,0,.05);
	flex:1 1;
	font-size:16px;
	font-weight:700;
	height:48px;
	width:260px
}

.Config_select__UzLfm .Config_selectControl__Na-Lo {
	border:none;
	height:48px
}

.Config_select__UzLfm .Config_selectPlaceholder__6ZkPM {
	color:rgba(79,84,92,.6)
}

.Config_select__UzLfm .Config_selectMenuOuter__pmla\+ {
	z-index:5
}

.react-switch-bg {
	background-color:var(--status-grey);
	border-radius:40px
}

.react-switch-bg.Config_on__Ir1QH {
	background-color:var(--status-green)
}

.react-switch-bg.Config_on__Ir1QH .Config_switch-toggle__-fGyU {
	margin-left:20px
}

.react-switch-bg .Config_switch-toggle__-fGyU {
	border:2px solid #fff;
	border-radius:50%;
	margin-left:-3px;
	margin-top:-6px;
	transition:margin-left .25s cubic-bezier(.77,0,.175,1) 0s
}

.react-switch-bg .Config_switch-toggle__-fGyU,.react-switch-handle {
	background-color:#fff;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.3);
	height:28px;
	width:28px
}

.react-switch-handle {
	border:2px solid #fff
}


/*# sourceMappingURL=main.5bc721ef.css.map*/